html, body, h1, div {
    margin:0;
}
html, body {  height: 100%; }
.container {
    height:100%;
    margin:0 auto;
    width: 999px;
    border-left: 1px solid #aaa;
    border-right: 1px solid #aaa;
}
.page {
    min-height: 100%;
    margin-bottom: -100px;
}
.footer {
    background: #112233; color:gold;
    min-height: 100px;
}

.nav { background: #112233; padding:0px;}
.nav a{ text-decoration: none; color: gold;}
/* set style of all ul */
.nav ul { list-style: none; padding: 0px;}
.menu > li { display: inline-block; padding: 4px;}
.menu li:hover { background: red;}

.level1 > ul { display: none; position: absolute; background: #112233;}
.level1 li { padding: 4px;}
.level1 li:hover { background: red;}
.level1:hover > ul {
  display: block;
}




